In [28]:
import pandas as pd
import numpy as np

In [96]:
# 1]
data = {'Name': ['jayesh', 'vishal', 'Om'],
    'Age': [20, 21, 22]}


c_count = [len(i) for i in data]
c_count

[4, 3]

In [2]:
# 2]

In [98]:
# 3]

l = [21,34,65,65,75,31,54]
# print(type(l))

# print(sorted(l))
sorted(l)

TypeError: 'dict' object is not callable

In [36]:
# 4]

data = {'Name': ['jayesh', 'vishal', 'Om'],
    'Age': [20, 21, 22]}

df = pd.DataFrame(data)
df

     Name  Age
0  jayesh   20
1  vishal   21
2      Om   22

In [86]:
# 5]

data = {'Name':['jayesh', 'vishal', 'Om'],
        'city':['pune','mumbai','chennai'],
        'Age':[21,23,26]}

df = pd.DataFrame(data)
df=[df['Age'].Average],[['Name','city','Age']]
df

AttributeError: 'Series' object has no attribute 'Average'

In [8]:
# 6]

In [108]:
# 7]

age = (21,23,25,27)

add_two = lambda age: age + 2

In [12]:
# 8]

In [14]:
# 9]

In [ ]:
# 10]